.style-guide {
    max-width: 800px;
    margin: auto;
    .border-bottom {
        border-bottom: 1px solid grey;
    }
    .border-top {
        border-top: 1px solid grey;
    }
    .border-right {
        border-right: 1px solid grey;
    }
    .title-section {
        color: #009688;
        position: absolute;
        font-size: 0.8rem;
        left: 0;
        top: 0;
        margin-left: 18px;
    }
    &__container {
        padding: 1rem;
    }
    &__logos {
        &__container {
            display: flex;
        }
        &__first,
        &__second {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &__first {
            flex: 5;
            img {
                max-width: 200px;
                padding: 1rem;
            }
            border-right: 1px solid grey;
        }

        &__second {
            flex: 4;
            img {
                max-width: 270px;
            }
        }
    }

    &__colors {
        padding-top: 1rem;
        &__container {
            display: flex;
            padding: 2rem;
            position: relative;
        }
        &__color {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0.1rem;
            width: 100%;
            &__rect {
                height: 80px;
                width: 100%;
            }
            &__title {
                text-transform: uppercase;
                font-size: 0.9rem;
                color: #009688;
                padding-top: 1rem;
                padding-bottom: 0.5rem;
            }
            &__ref {
                font-size: 0.8rem;
                color: #009688;
            }
        }
    }
    &__fonts {
        padding-top: 1rem;
        &__container {
            position: relative;
        }
        &__primary,
        &__secondary {
            padding: 1rem;
            margin: auto;
            max-width: 600px;
            &__title {
                font-size: 2rem;
            }
            &__desc {
                padding-bottom: 1rem;
            }
            &__body-text {
                &__paragraph {
                    display: flex;
                    font-size: 1rem;
                    padding-top: 1rem;
                    span {
                        min-width: 100px;
                        text-align: justify;
                    }
                }
                .regular {
                    font-weight: $font-regular;
                }
                .bold {
                    font-weight: $font-bold;
                }
                .extrabold {
                    font-weight: $font-extrabold;
                }
            }
        }
        &__primary {
            font-family: $primary-font;
        }
        &__secondary {
            font-family: $secondary-font;
            padding-bottom: 2rem;
        }
        &__headlines {
            padding: 1rem;
            padding-top: 2rem;
            max-width: 600px;
            margin: auto;
            border-top: 1px solid grey;
        }
    }
    &__buttons {
        &__container {
            display: flex;
            justify-content: space-between;
        }
        &__left,
        &__right {
            position: relative;
            .title-section {
                padding-top: 15px;
            }
            &__container {
                margin-top: 1rem;
            }
        }
        &__left {
            width: 60%;
            &__container {
                margin-top: 3rem;
            }
        }
    }
    &__timeline {
        position: relative;
        .title-section {
            margin-top: 20px;
        }
    }
    &__cards {
        padding: 3rem 0rem;
        position: relative;
        .title-section {
            margin-top: 20px;
        }
        &__container {
            display: flex;
        }
    }
    &__inputs {
        position: relative;
        padding-top: 0.5rem;
        .title-section {
            position: relative;
            margin-left: 15px;
        }
        &__container {
            padding-top: 0.2rem;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 2rem;
        }
        &__input {
            padding: 0.5rem;
        }
    }
    &__textareas {
        position: relative;
        padding-top: 0.5rem;
        .title-section {
            position: relative;
            margin-left: 15px;
        }
        &__container {
            padding-top: 0.2rem;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-bottom: 2rem;
        }
        &__textarea {
            padding: 0.5rem;
            height: 400px;
            padding: 0.5rem;
            padding-bottom: 1rem;
        }
    }
}