// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$primary-font: 'Roboto', sans-serif !default;

/// Code (monospace) font family
/// @type List
$secondary-font: 'Cabin', sans-serif !default;



/// Copy text color
$jca-color-1: '#6e41ff';
$jca-color-2: '#f5f9fe';
$jca-color-3: '#d0d0d0';
$jca-color-4: '#333333';
$jca-color-5: '#666666';

:root {
	--primary-font: $primary-font;
	--primary-font: $secondary-font;
  --jca-color-1: $jca-color-1;
  --jca-color-2: $jca-color-2;
  --jca-color-3: $jca-color-3;
  --jca-color-4: $jca-color-4;
  --jca-color-5: $jca-color-5;
}


/// Font-size
$font-regular: 300 !default;
$font-bold: 400 !default;
$font-extrabold: 700 !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
