/**
 * Basic typography style for copy text
 */
body {
  color: $jca-color-4;
  font: normal 125% / 1.4 $secondary-font;
}

h1 {
	font: 700 48px/1.2 $primary-font;
	margin-bottom: 10px;
}

h2 {
	font: 700 32px/1.2 $primary-font;
	margin-bottom: 10px;
}

h3 {
	font: 700 24px/1.2 $primary-font;
	margin-bottom: 10px;
}

h4 {
	font: 700 20px/1.2 $primary-font;
	margin-bottom: 10px;
}

h5 {
	font: 500 18px/1.2 $primary-font;
	margin-bottom: 10px;
}

h6 {
	font: 500 16px/1.2 $primary-font;
	text-transform: uppercase;
}
